# .easignore
# Files to EXCLUDE from EAS Build
# (Starts with everything in .gitignore, but we can override)

node_modules/
.expo/
dist/
web-build/

# Keep local env files out of the build? 
# Usually you want .env in the build if you don't use EAS Secrets
# .env

# We definitely DO want these files in the build, so we do NOT list them here.
# google-services.json (Implicitly included)
# package.json (Implicitly included)