# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
android/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

Udara Web Dashboard User Guide (1).pdf
Udara_Mobile_App_User_Guide.md
FYP Report 2 .pdf
.env
.env*
google-services.json
*-firebase-adminsdk-*.json
*.json
!app.json
!package.json
!package-lock.json
!tsconfig.json
!eas.json

context_report.pdf
TEST_CASES_INTEGRATION.md
TEST_CASES_SYSTEM.md
TEST_CASES_UNIT.md
TRACEABILITY_MATRIX.md
